* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: sans-serif;
  --font-mono: monospace;
  font-size: 125%;
}

body {
  padding: 0.8rem;
  max-width: 65ch;
  margin-inline: auto;
  background: #f9fafb;
  color: #111827;
  line-height: 2;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
}

a {
  color: inherit;
}
