* {
  box-sizing: border-box;
//  margin: 0;
}

:root {
  font-family: sans-serif;
  --font-mono: monospace;
  font-size: 125%;
  --bg: #ffffff;
  --fg: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #141414;
    --fg: #ffffff;
  }
}

body {
  padding: 0.8rem;
  max-width: 65ch;
  margin-inline: auto;
  background: var(--bg);
  color: var(--fg);
  line-height: 1.5;
}

a {
  color: inherit;
}
