---
import Home from '../components/Home.astro';

// Component Script:
let title = 'Ten Hour Studios';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <main>
        <header>
            Ten Hour Studios
        </header>

        <Home />
    </main>
</body>
</html>
