<section>
    <h1> Decimal Clock </h1>
    <p>A new way of reading time</p>

    <a href="https://play.google.com/store/apps/details?id=com.tenhourstudios.decimalclock&utm_source=Website&utm_campaign=Homepage">Get the app</a>
</section>

<aside>
    <ul>
        <li>
            <a href="https://twitter.com/tenhourstudios" target="_blank" rel="noreferrer noopener">Twitter</a>
        </li>
        <li>
            <a href="mailto:hello@tenhourstudios.com" target="_blank" rel="noreferrer noopener">Email</a>
        </li>
    </ul>
</aside>