<section>
    <div>
        <h1> Decimal Clock </h1>
        <p>A new way of reading time</p>

        <a href="https://play.google.com/store/apps/details?id=com.tenhourstudios.decimalclock&utm_source=Website&utm_campaign=Homepage" target="_blank" rel="noreferrer noopener">
            <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/>
        </a>
    </div>
    <picture>
        <source srcset="/assets/img/clock-dark.png" media="(prefers-color-scheme: dark)">
        <img src="/assets/img/clock-light.png" />
    </picture>
</section>

<aside>
    <ul>
        <li>
            <a href="https://twitter.com/tenhourstudios" target="_blank" rel="noreferrer noopener">Twitter</a>
        </li>
        <li>
            <a href="mailto:hello@tenhourstudios.com" target="_blank" rel="noreferrer noopener">Email</a>
        </li>
    </ul>
</aside>

<style>
section {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1rem;
}
img {
    width: 100%;
    max-width: 250px;
    border: 10px solid var(--bg);
    border-radius: 10px;
    box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.3);
}
</style>