---
import { Markdown } from 'astro/components';
---
<article>
    <section>
        <h1> Decimal Clock </h1>
        <p>A new way of reading time</p>

        <a href="https://play.google.com/store/apps/details?id=com.tenhourstudios.decimalclock&utm_source=Website&utm_campaign=Homepage">Get the app</a>
    </section>

     <section>
        
        <a href="https://twitter.com/tenhourstudios">Twitter</a>
        <a href="mailto:hello@tenhourstudios.com">Email</a>
    </section>
    
</article>

<style>
    article {
        padding-top: 2em;
        line-height: 1.5;
    }
    section {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 70ch;
    }
</style>
