---
const {title} = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/style/global.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">Ten Hour Studios</a>
            </nav>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            © 2021 Ten Hour Studios
        </footer>        
    </body>
</html>

<style>
.logo {
    text-decoration: none;
    font-size: 1.5rem;
}
.logo:hover {
    text-decoration: underline;
}
header {
    border-bottom: 2px solid var(--fg);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
footer {
    border-top: 2px solid var(--fg);
    padding-top: 0.5rem;
    margin-top: 1rem;
}
</style>